body {
    margin: 0 auto 20px;
    padding: 0;
    background-image:url('img/backgroundgreen.jpg');
    background-repeat:round;
    background-attachment: fixed;
    text-align: center;
}

		
img
		{
			max-width: 900px;
		}
		
img:active
		{
			max-width: 100%;
		}
		
a:focus
		{
			outline: none;
		}

h1 {
    font-size: 25px;
    }

#title {
    width:100%;
    height:40px;
    border-style:dotted;
    border-color:blue;
}

#containerleft {
    float:left;
    width:250px;
    border-style:dotted;
    border-color:red;
}

#upload {
    width:100%;
    height:60px;
    border-style:dotted;
    border-color:green;
}

#directory {
    width:100%;
    height:400px;
    overflow:auto;
    border-style:dotted;
    border-color:purple;
}

#gallery {
    margin-left:260px;
    border-style:dotted;
    border-color:brown;
}

#exif {
    width:100%;
    height:200px;
    border-style:dotted;
    border-color:yellow;
}

#terriblemusic {
    width:100%;
    border-style:dotted;
    border-color:black;
}

#bilde:hover{
    background: #786b59;
    color: #ffe;
}

#fullscreenpic {
    width:100%;
    border-style:dotted;
    border-color:red;
    height:500px;
}

#butans {
    width:100%;
    height:100px;
}

#buttons {
    width:100%;
    height:80px;
    border-style:dotted;
    border-color:green;
}

#prevnext {
    width:200px;
    border-style:dotted;
    border-color:purple;
    height:50px;
}

#toprow {
    display: inline-block;
    width:100%;
    height:50%;
    border-style:dotted;
    border-color:yellow;
  
}

#bottomrow {
    width:100%;
    height:50%;
    border-style:dotted;
    border-color:brown;    
    width: 100%; 
    float: left;
}

.rating {
          overflow: hidden;
          display: inline-block;
      }
      .rating-input {
          position: absolute;
          left: 0;
          top: -50px;
      }
      .rating:hover .rating-star:hover,
      .rating:hover .rating-star:hover ~ .rating-star,
      .rating-input:checked ~ .rating-star {
          background-position: 0 0;
      }
      .rating-star,
      .rating:hover .rating-star {
          float: right;
          display: block;
          width: 16px;
          height: 16px;
          background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
      }

.descriptionarea {
    min-width: 490px;
    position: relative;
    display: inline-block;
}

#menu{
		width:206px;
		margin:-10px;
	}
		#menu ul{
			list-style:none;
		}
			#menu li{
				list-style:none;
				display:block;
				line-height:32px;
				height:32px;
				margin:10px 0;
				width:206px;			
			}
				#menu li a{
					display:block;
					height:32px;
					text-transform:uppercase;
					font-size:10px;
					font-weight:bold;
					line-height:32px;
					padding:0 0 0 25px;
					text-decoration:none;
					color:#808080;
					cursor:pointer;
					background:url(images/menu_014_l.jpg) no-repeat left;
				}
				#menu li a span{
					display:block;
					height:32px;
					line-height:32px;
					padding:0 105px 0 20px;
					color:#808080;
					background:url(images/menu_014_r.jpg) no-repeat right;										
				}
					#menu li a:hover{
						display:block;
						background:url(images/menu_014_h_l.jpg) no-repeat left;
						height:32px;
						color:#676767;
					}
					#menu li a:hover span{
						display:block;
						float:left;					
						background:url(images/menu_014_h_r.jpg) no-repeat right;
						color:#676767;
						height:32px;
					}
				#menu li a.current, #menu li a.current:hover{
					display:block;
					height:32px;
					color:#676767;
					text-transform:uppercase;
					font-size:11px;
					font-weight:bold;
					background:url(images/menu_014_h_l.jpg) no-repeat left;
					line-height:32px;
					padding:0 0 0 25px;
					text-decoration:none;
				}
				#menu li a.current span, #menu li a.current:hover span{					
					display:block;
					float:left;
					background:url(images/menu_014_h_r.jpg) no-repeat right;
					height:32px;
					color:#676767;
					line-height:32px;
					padding:0 130px 0 20px;
				}