body {
    background-color:#232323;
    text-align: center;
    color:#D9DCDC;
}

		
img {
    max-width: 900px;
}
		
a:focus {
    outline: none;
}

h1 {
    font-size: 25px;
}

#title {
    height:50px;
    margin-left:260px;
    border-radius:25px;
    background-color:#415050;
    border-style:solid;
    border-width:2px;
    border-color:#141818; 
}

#containerleft {
    float:left;
    width:250px;
    height:100%;
    background-color:#415050;
    border-radius:25px;
    border-style:solid;
    border-width:2px;
    border-color:#141818;
}

#upload {
    width:100%;
    height:80px;
}

#gallery {
    margin-left:260px;
    background-color:#415050;
    border-radius:25px;
    margin-top:10px;
    border-style:solid;
    border-width:2px;
    border-color:#141818;
    overflow:auto;
    height:87vh;
}

#parameters{
	height:50px;
    margin-left:260px;
	margin-top:8px;
    border-radius:25px;
    background-color:#415050;
    border-style:solid;
    border-width:2px;
    border-color:#141818; 
}

#exif {
    width:100%;
    height:150px;
}


#bilde:hover{
    background: #B3B9B9;
    color: #ffe;
}

#fullscreenpic {
    margin-left:260px;
    height:90vh;
    background-color:#415050;
    border-radius:25px;
    border-style:solid;
    border-width:2px;
    border-color:#141818;
   
}

#commentForm
{
	text-align: left;
	margin-left: 6px;
}

#venstreknapp
{
    position:absolute;
    top:10px;
    float:left;
    margin-left:100px;
	width: 300px;
    height:90vh;
}
#progress
{
	position:absolute;
    top:10px;
    float:center;
    margin-left:400px;
	width: 300px;
    height:90vh;
	background:url("img/progress.gif") no-repeat; 
	background-position:center;
}
#hoyreknapp
{
	position:absolute;
	top: 10px;
	height:90vh;
    right:110px;
	width: 300px;
}

#roterVenstre
{
	position:absolute;
	top: 143px;
	right: 15px;
}

#roterhoyre
{
	position:absolute;
	top: 79px;
	right: 15px;
}

#rotasjonsmeny
{
	position:absolute;
	top: 8px;
	right: 8px;
}

#lukkVindu
{
	position:absolute;
	top: 15px;
	right: 15px;
}

#buttoncontainer {
    height:50%;
    width:100%;
}

.rating {
    overflow: hidden;
    display: inline-block;
}
.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('img/star.png') 0 -16px;
}

.descriptionarea {
    min-width: 490px;
    position: relative;
    display: inline-block;
}

.navbox {
	position: relative;
	float: left;
}

ul.nav {
	list-style: none;
	display: block;
	width: 200px;
	position: relative;
	top: 0px;
	left: 10px;
	padding: 0 0 10px 0;
}

li {
	margin: 5px 0 0 0;
}

ul.nav li a {
	-webkit-transition: all 0.3s ease-out;
	background: #B3B9B9 no-repeat;
	color: #141818;
	padding: 7px 15px 7px 0;
	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 100px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
	background: #D9DCDC no-repeat;
	color: #141818;
	padding: 7px 15px 7px 30px;
}

#navbox {
    overflow:auto;
    height:70vh;
}

#details {
    height:300px;
    width:100%
}

#search {
    height:80px;
}

#leftcontainer {
    float:left;
    width:250px;
    height:100%;
    background-color:#415050;
    border-radius:25px;
    border-style:solid;
    border-width:2px;
    border-color:#141818;
}

.replace {
display:none;
}

#picturecontainer {
    height:90vh;
}
