body {
    margin: 0 auto 20px;
    padding: 0;
    background-image:url('img/backgroundgreen.jpg');
    background-repeat:round;
    background-attachment: fixed;
    text-align: center;
}

		
img
		{
			max-width: 900px;
		}
		
img:active
		{
			max-width: 100%;
		}
		
a:focus
		{
			outline: none;
		}

h1 {
    font-size: 25px;
    }

#title {
    width:100%;
    height:40px;
    border-style:dotted;
    border-color:blue;
}

#containerleft {
    float:left;
    width:250px;
    border-style:dotted;
    border-color:red;
}

#upload {
    width:100%;
    height:60px;
    border-style:dotted;
    border-color:green;
}

#directory {
    width:100%;
    height:400px;
    overflow:auto;
    border-style:dotted;
    border-color:purple;
}

#gallery {
    margin-left:260px;
    border-style:dotted;
    border-color:brown;
}

#exif {
    width:100%;
    height:200px;
    border-style:dotted;
    border-color:yellow;
}

#terriblemusic {
    width:100%;
    border-style:dotted;
    border-color:black;
}

#bilde:hover{
    background: #786b59;
    color: #ffe;
}

#fullscreenpic {
    width:100%;
    border-style:dotted;
    border-color:red;
    height:500px;
}

#butans {
    width:100%;
    height:100px;
}

#buttons {
    width:100%;
    height:80px;
    border-style:dotted;
    border-color:green;
}

#prevnext {
    width:200px;
    border-style:dotted;
    border-color:purple;
    height:50px;
}

#toprow {
    display: inline-block;
    width:100%;
    height:50%;
    border-style:dotted;
    border-color:yellow;
  
}

#bottomrow {
    width:100%;
    height:50%;
    border-style:dotted;
    border-color:brown;    
    width: 100%; 
    float: left;
}

.rating {
          overflow: hidden;
          display: inline-block;
      }
      .rating-input {
          position: absolute;
          left: 0;
          top: -50px;
      }
      .rating:hover .rating-star:hover,
      .rating:hover .rating-star:hover ~ .rating-star,
      .rating-input:checked ~ .rating-star {
          background-position: 0 0;
      }
      .rating-star,
      .rating:hover .rating-star {
          float: right;
          display: block;
          width: 16px;
          height: 16px;
          background: url('img/star.png') 0 -16px;
      }

.descriptionarea {
    min-width: 490px;
    position: relative;
    display: inline-block;
}

.navbox {
	position: relative;
	float: left;
}

ul.nav {
	list-style: none;
	display: block;
	width: 200px;
	position: relative;
	top: 0px;
	left: 10px;
	padding: 0 0 60px 0;
}

li {
	margin: 5px 0 0 0;
}

ul.nav li a {
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb no-repeat;
	color: #174867;
	padding: 7px 15px 7px 0;
	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 100px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
	background: #ebebeb no-repeat;
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}